{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<!--    {{form.as_p}}-->
    {% render_field form.name style="color:red" placeholder=form.name.label %}
    {% render_field form.img type='date' %}
    <button type="submit">saqlash</button>
</form>

</body>
</html>