{% load widget_tweaks %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h3><a href="{% url 'product_list' %}">Orqaga qaytish</a></h3>
    <h1><span style="color:red">{{object}}</span> ni o'chirmoqchimisiz </h1>
    <button type="submit">Delete</button>
</form>