<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Product list page </h1>
<h3><a href="{% url 'product_create' %}">Create Product</a></h3>
<hr>
{% for product in products%}
<h1>{{product.name}}</h1>
<p>{{product.p_type}}</p>
<p>{{product.quantity}}</p>
<h3>
    <a href="{% url 'product_detial' product.id %}">Detial Product </a>|
    <a href="{% url 'product_update' product.id %}">Update Product </a>|
    <a href="{% url 'product_delete' product.id %}">Delete Product </a>
</h3>
<hr>
{% endfor %}
</body>
</html>