{% load widget_tweaks %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<!--    {{form.as_p}}-->
     {{form.name| attr:'placeholder:product name' }}<br><br>
    {{ form.p_type| attr:'placeholder:product type'  }}<br><br>
     {{ form.quantity|attr:'type:number'|attr:'placeholder:number of products'  }}<br><br>
    <button type="submit">Saqlash</button>
</form>