<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Product single page </h1>
<hr>
<h1>{{product.name}}</h1>
<p>{{product.p_type}}</p>
<p>{{product.quantity}}</p>
<hr>

</body>
</html>