{% load widget_tweaks %}


  <form method="get">
    {% for f in filter.form %}
    {{f.label}}<br>
      {% if f.name == 'start_date__gte' or f.name == 'start_date__lt' %}
      {{ f|attr:'type:date' }}<br>
      {% else %}
    {{ f }}<br>
    {% endif %}
    {% endfor %}

    <button type="submit">Search</button>
  </form>


  <ul>
  {% for test in filter.qs %}
    <li>{{ test.name }} </li>
    <li>{{ test.start_date }} </li>
    <li>{{ test.end_date }} </li>
    <li>{{ test.num }} </li>
    <li>{{ test.text }} </li>
    <hr>
  {% endfor %}
  </ul>

